<div class="container">
<div class="pt-5">
  <button class="btn btn-primary">Insert</button>
</div>
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">First Name</th>
			<th scope="col">Last Name</th>
			<th scope="col">Email</th>
      <th scope="col">Action</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let country of customers$|async; index as i">
			<th scope="row">{{ i + 1 }}</th>
			<td>
				{{ country.firstName }}
			</td>
			<td>{{ country.surName }}</td>
			<td>{{ country.email}}</td>
      <td>
        <button class="btn btn-primary">Edit</button>
        <span class="p-1">
          <button class="btn btn-danger">Delete</button>
      </span>
      </td>
		</tr>
	</tbody>
</table>

</div>
